{% extends "base.html.twig" %}


{% block nav %} {{ parent() }}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1> Room {{ room.name }}</h1>


        <h3>Info</h3>
        <ul>
            <li>Id : {{ room.id }}</li>
            <li>Building : {{ room.building.name }}</li>
            <li>Name : {{ room.name }} </li>
            <li>Capacity : {{ room.capacity }} </li>

        </ul>

        <h3>Status</h3>  <br>
        <label >Date </label>
        <input name="date"  type="date">
        <button>Search</button>

        <br><br>




        <table class="table table-bordered table-white">
            <thead>
            <tr>
                <th scope="col" >9:00 -10:00 </th>
                <th scope="col">10:00 - 11:00</th>
                <th scope="col">11:00 - 12:00</th>
                <th scope="col">12:00 - 1:00</th>
                <th scope="col">1:00 - 2:00</th>
                <th scope="col">2:00 - 3:00</th>
                <th scope="col">3:00 - 4:00 </th>

            </tr>
            </thead>
            <tbody>
            <tr>
                {% for status in room.status %}

                    {% if status == 1 %}
                        <th scope="row" class="table-primary">Free</th>

                    {% else %}
                        <td class="table-success">Reserved</td>
                    {% endif %}

                {% endfor %}


            </tr>

            </tbody>
        </table>



    </main>
{% endblock %}

