{% extends "base.html.twig" %}


{% block nav %} {{ parent() }}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1> Name: {{ personnel.name }}  {{ personnel.surname }}</h1>

        <h3>Info</h3>
        <ul>
            <li>Id : {{ personnel.id}}</li>
            <li>Name : {{ personnel.name }} </li>
            <li>Surname : {{ personnel.surname }} </li>
            <li>Email : {{ personnel.email}}</li>
            <li>Birthday : {{ personnel.birthday|date("m/d/Y") }} </li>
        </ul>



        <h3>History</h3>


        <table class="table">
            <caption>List of rooms</caption>
            <thead>
            <tr>
                <th scope="col">Reservation Id</th>
                <th scope="col">Building </th>
                <th scope="col">Room</th>
                <th scope="col">Capacity</th>
                <th scope="col">Date</th>
                <th scope="col">Period (Time)</th>
                <th scope="col">Price</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Freedom</td>
                <td>A27</td>
                <td>10</td>
                <td>10/8/2022</td>
                <td>9:00 - 12:00</td>
                <td>$150</td>


            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Freedom</td>
                <td>B23</td>
                <td>7</td>
                <td>05/07/2022</td>
                <td>3:00 - 4:00</td>
                <td>$150</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Rainbow</td>
                <td>A09</td>
                <td>4</td>
                <td>23/05/2022</td>
                <td>11:00 - 12:30</td>
                <td>$150</td>

            </tr>
            </tbody>
        </table>




    </main>
{% endblock %}

